*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--Pale-Blue);
}
a:hover{
    color: #fff;
}
:root{
--Blue: hsl(246, 80%, 60%);
--Light-red-work: hsl(15, 100%, 70%);
--Soft-blue-play: hsl(195, 74%, 62%);
--Light-red-study: hsl(348, 100%, 68%);
--Lime-green-exercise: hsl(145, 58%, 55%);
--Violet-social: hsl(264, 64%, 52%);
--Soft-orange-self-care: hsl(43, 84%, 65%);
--Very-dark-blue: hsl(226, 43%, 10%);
--Dark-blue: hsl(235, 46%, 20%);
--Desaturated-blue: hsl(235, 45%, 61%);
--Pale-Blue: hsl(236, 100%, 87%);

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Rubik', sans-serif;
    background-color: var(--Very-dark-blue);
    font-size: 18px;
}
p{
    color: var(--Pale-Blue);
}
main{
    width: 70vw;
    background-color: #fff;
    height: 70vh;
    display: flex;
    gap: 15px;
    background-color: var(--Very-dark-blue);
    color: #fff;
}
.item{
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--Dark-blue);
}
.first{
    grid-row: 1/3;
}
.first h3{
    font-size: 2.4rem;
    font-weight: 400;
}
.first .top{
    height: 70%;
    border-radius: 10px;
    background-color: var(--Blue);
    padding: 5%;
}
.first .bottom{
    height: 30%;
    background-color: var(--Dark-blue);
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.img img{
    width: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.top, .bottom{
    padding: 5%;
}
.second, .third, .fourth, .fifth, .sixth, .seventh{
    display: flex;
    flex-direction: column;
}
h5{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h5 p{
    color: white;
}
h5 img:hover{
    color: white;
}
h3{
    font-size: 2.4rem;
    font-weight: 300;
}
.first .top{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.second{
    position: relative;
    gap: unset;
    background-color: var(--Light-red-work);

}
.second .top{
    padding: unset;
    border-top-right-radius: 10px;
}
.third, .fourth, .fifth, .sixth, .seventh{
    position: relative;
    overflow: hidden;
}
.third .bottom, .fourth .bottom, .fifth .bottom, .sixth .bottom, .seventh .bottom, .second .bottom{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: red;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: var(--Dark-blue);
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.third .bottom:hover, .fourth .bottom:hover, .fifth .bottom:hover, .sixth .bottom:hover, .seventh .bottom:hover, .second .bottom:hover{
    background-color: var(--Desaturated-blue);
    cursor: pointer;
}

.second > img, .third > img, .fourth > img, .fifth > img, .sixth > img, .seventh > img{
    width: 70px;
    position: absolute;
    right: 5px;
    top: -10px;
}
.third{
    background-color: var(--Soft-blue-play);
}
.fourth{
    background-color: var(--Light-red-study);
}
.fifth{
    background-color: var(--Lime-green-exercise);
}
.sixth{
    background-color: var(--Violet-social);
}
.seventh{
    background-color: var(--Soft-orange-self-care);
}
.active{
    color: white;
}
@media(min-width:600px){
 main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
}
